@import "./variable.module.scss";
#app {
  .el-scrollbar{
    width: $sideBarWidth;
    background: #304156;
  }
  
  .el-menu{
    // width: $sideBarWidth;
    height: calc(100% - 50rem);
    border-right: 0;
  }
  
  .slider-width{
    width: $sideBarWidth;
  }
}



